h1 {
  color: blue;
  font-family: helvetica;
  font-size: 69px;
}

th, td {
  font-family: 'helvetica', sans-serif;
  font-size: 39px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  width: 33.3333%;
}
