h1 {
  color: blue;
  font-family: helvetica;
  font-size: 69px;
}



table, th, td {
  border: 1px solid black;
  font-family: 'helvetica', sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  width: 33.3333%;
}
