h1 {
  color: blue;
  font-family: helvetica;
  font-size: 69px;
}

table, th, td {
  border: 1px solid black;
  font-family: 'helvetica', sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding: 20px;
  text-align: center;
  width: 60%;
}

thead th {
  background: #b2c661;
  color: #FFF;
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  letter-spacing: 2px;
}
